<% title "#{@prank.title} Images | #{@album.title}"  %>
<div id="title">
    <h2><%= @prank.title %> <span class="grey"><%= @album.title %> Album</span></h2>
    <p class="small-link"><%= link_to 'Back to prank', @prank %> | <%= link_to 'Back to photos', photos_path(@prank) %></p>
</div>
<%- if @images.empty? -%>
	<p>There are no images for this album yet. <%= link_to "Have one to add one?", new_prank_album_image_path %></p>
<%- else -%> 
	<ul id="tools">
		<li>Album</li>
		<li><%= pluralize(@image_count, "Image") %></li>
		<%- if album_owner_or_admin?(@album) -%>
		<li><%= link_to 'Upload Another Photo', new_prank_album_image_path %></li>
		<li><%= link_to 'Create New Photo Album', new_prank_album_path %></li>
		<li><%= link_to 'Edit Photo Album', edit_prank_album_path(@prank, @album) %></li>
		<%- end -%>
		<li>by <%= link_to image_tag(@album.user.profile_image(:tiny_square), :class => 'micro-pic'), @album.user %> <%= link_to @album.user.login, @album.user %></li>
	</ul>
	<%- for image in @images -%>
		<%= link_to image_tag(image.public_filename(:thumb), :class => 'album-pic'), prank_album_image_path(@prank, @album, image) %>
	<%- end -%>
<%- end -%>