<div id="title">
  <h2>Sign Up</h2>
  <p class="small-link">Already a member? <%= link_to 'Login', login_path %></p>
</div>
<%= error_messages_for :user %>
<div id="member-login">
	<% form_for :user, :url => users_path do |f| -%>
		<%= f.hidden_field :invitation_token %>
		<div class="required">
			<%= f.label :login, 'Display Name:' %> <%= f.text_field :login, :class => 'inputText' %>
		</div>
		<div class="required">
			<%= f.label :email, 'Email:' %> <%= f.text_field :email, :class => 'inputText' %>
		</div>
		<div class="required">
			<%= f.label :password, 'Password:' %> <%= f.password_field :password, :class => 'inputText' %>
		</div>
		<div class="required">
			<%= f.label :password_confirmation, 'Retype Password:' %> <%= f.password_field :password_confirmation, :class => 'inputText' %>
		</div>
		<div class="submit">
			<%= submit_tag 'Sign Up' %>
		</div>
	<% end -%>
</div>