<div id="title">
	<h2>Reset Password</h2>
</div>
<% form_for :user, :url => {:action => 'reset_password'} do |f| %>
        <div class="required">
            <%= f.label :password, 'Password: ' %>
            <%= f.password_field :password, :class => 'inputText' %>
		</div>
		<div class="required">
            <%= f.label :password_confirmation, 'Retype Password:' %>
            <%= f.password_field :password_confirmation, :class => 'inputText' %>
        </div>
		<div class="submit">
			<%= submit_tag 'Reset your password' %>
		</div>
    </fieldset>
<% end %>