<% title "PrankLabs | Edit - #{@prank.title}" %>
<div id="title">
  <h2><%= @prank.title %><span class="grey">| Edit</span></h2>
  <p class="small-link"><%= link_to 'Back to prank', @prank %></p>
</div>
<div id="images">
  <h3>Profile Images</h3>
  <%= link_to image_tag(@prank.profile_image(:thumb), :class => 'profile-pic'), images_path(@prank) %><br />
  <p><%= link_to "Edit Images", images_path(@prank), :class => 'small-link' %></p>
</div>
<%- form_for(@prank) do |f| -%>
  <%= f.error_messages %>
  <div class="required">
    <%= f.label :title, 'Prank Name:' %> <%= f.text_field :title, :maxlength => 30, :class => 'inputText' %>
	<small>Prank title. 20 letters max.</small>
  </div>
  <div class="required">
    <%= f.label :summary, 'Summary:' %> <%= f.text_area :summary, :cols => 30, :rows => 2 %>
	<small>Write a brief summary describing your prank.</small>
  </div>
  <div class="required">
	<ul id="prank-tools">
		<%= render :partial => 'tools', :collection => @prank.tools, :locals => { :prank => @prank } %>
	</ul>
	<%= add_tool_link 'Add Another Tool' %>
  </div>
  <div class="required">
    <%= f.label :targets, 'Targets:' %> <%= f.text_area :targets, :cols => 30, :rows => 5 %>
	<small>List the people targeted as victims of your prank.</small>
  </div>
  <div class="required">
    <%= f.label :instructions, 'Instructions:' %> <%= f.text_area :instructions, :cols => 30, :rows => 8 %>
	<small>Detail the steps, and any other advice, used to make the prank a success.</small>
  </div>
  <div class="required">
	<%= label_tag 'categories[]', 'Categories:' %>
	<%= render :partial => 'categories', :collection => Category.find(:all) %>
	<small>Check all categories that apply to your prank.</small>
  </div>
  <div class="optional">
  	<%= label_tag 'tags', 'Tags:' %> <%= text_field_tag 'tags', @prank.tag_list, :class => 'inputText' %>
	<small>Enter tags to categorize your prank. Example: office, tinfoil, cubicle</small>
  </div>
  <div class="submit">
	<%= submit_tag 'Update' %>
  </div>
<%- end -%>