<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= yield(:title) || "PrankLabs - The Sweet Science of the Prank" %></title>
<%= stylesheet_link_tag 'reset', 'pranks', 'rating' %>
<%= javascript_include_tag :defaults %>
<%= yield :head %>
<!--[if IE 5]>
<style type="text/css"> 
/* place css box model fixes for IE 5* in this conditional comment */
.thrColFixHdr #sidebar1 { width: 180px; }
.thrColFixHdr #sidebar2 { width: 190px; }
</style>
<![endif]--><!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.thrColFixHdr #sidebar2, .thrColFixHdr #sidebar1 { padding-top: 30px; }
.thrColFixHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
</head>
<body>
	<div id="container">
		<div id="wrapper">
		<div id="wrapper-b">	
		<div id="header">
			<div id="head-left">
				<%= link_to_unless_current image_tag("pranklabs.gif", :alt => "Prank Ideas"), pranks_path %> showcase your pranks.
			</div><!-- end #head-left -->
			<div id="head-right">
			  <span id="loggin">
			  <%- if logged_in? -%>
				Welcome, <%= h current_user.login %>! &#8226; <%= link_to_unless_current "My Account", user_path(current_user) %> &#8226; <%= link_to "Logout", logout_path %>
			  <%- else -%>
				<%= link_to_unless_current "Login", login_path %> &#8226; Not a member? <%= link_to_unless_current "Sign Up", signup_path %>
			  <%- end -%>
			  </span>
				<div id="search-form">
					<%- form_tag :controller => :pranks, :action => :search, :method => :get do -%>
						<%= text_field_tag :search, params[:search].blank? ? 'Search Pranks' : params[:search], :onblur => "this.value=(this.value=='') ? 'Search Pranks' : this.value;", :onfocus => "this.value=(this.value=='Search Pranks') ? '' : this.value;" %>
						<%= submit_tag "Go", :name => nil, :class => 'button' %>
					<%- end -%>
				</div><!-- end #search -->
			</div><!-- end #head-right -->
			<ul id="nav">
				<%- Category.find(:all).each do |c| -%>
				<li><%= link_to c.name.upcase, category_path(c) %></li>
				<%- end -%>
			</ul>
			<br class="clearfloat" />
		</div><!-- end #header -->
		<div id="content">
			<%- flash.each do |key, msg| -%>
		      <%= content_tag :p, msg, :class => "flash #{key}" %>
		    <%- end -%>
		  	<%= yield  %>
		<br class="clearfloat" />
		</div><!-- end #content -->
		</div></div><!-- end #wrapper -->
	</div><!-- end #container -->
	<div id="footer">
    	<p>&copy; 2008 PrankLabs. All rights reserved.</p>
		<p>All of the information and commentary contained herein is being provided for entertainment purposes only. The opinions and information expressed are those of the individual posting the content. Neither PrankLabs, nor any other associated person or entity makes any representation or warranty, whether express or implied, regarding the information or commentary and cannot accept any legal responsibility for the content.</p>
  	</div><!-- end #footer -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7856829-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>